In [2]:
# Connect to Meet Manager Access DB

import csv
import pyodbc

MDB = '/Users/veesheenyuen/Desktop/DataScience/SAA/MM/SAA Track & Field Series 6 2012.mdb'
DRV = '{Microsoft Access Driver (*.mdb)}'
#PWD = 'mypassword'

#conn = pyodbc.connect('DRIVER=%s;DBQ=%s;PWD=%s' % (DRV,MDB,PWD))
conn = pyodbc.connect('DRIVER=%s;DBQ=%s' % (DRV,MDB))

curs = conn.cursor()

SQL = 'SELECT * FROM mytable;' # insert your query here
curs.execute(SQL)

rows = curs.fetchall()

curs.close()
conn.close()

# you could change the 'w' to 'a' for subsequent queries
csv_writer = csv.writer(open('mytable.csv', 'w'), lineterminator='\n')

for row in rows:
    csv_writer.writerow(row)

ImportError: dlopen(/Users/veesheenyuen/.pyenv/versions/3.10.6/envs/SAA/lib/python3.10/site-packages/pyodbc.cpython-310-darwin.so, 0x0002): Library not loaded: /opt/homebrew/opt/unixodbc/lib/libodbc.2.dylib
  Referenced from: <781089AF-D675-3AD0-BEC3-B9D75C17B5AF> /Users/veesheenyuen/.pyenv/versions/3.10.6/envs/SAA/lib/python3.10/site-packages/pyodbc.cpython-310-darwin.so
  Reason: tried: '/opt/homebrew/opt/unixodbc/lib/libodbc.2.dylib' (no such file), '/System/Volumes/Preboot/Cryptexes/OS/opt/homebrew/opt/unixodbc/lib/libodbc.2.dylib' (no such file), '/opt/homebrew/opt/unixodbc/lib/libodbc.2.dylib' (no such file)

In [1]:
from mdb_parser import MDBParser, MDBTable

db = MDBParser(file_path="/Users/veesheenyuen/Desktop/DataScience/SAA/MM/SAA Track & Field Series 6 2012.mdb")

# Get and print the database tables
print(db.tables)

/bin/sh: mdb-tables: command not found
/bin/sh: Field: command not found

CalledProcessError: Command 'mdb-tables /Users/veesheenyuen/Desktop/DataScience/SAA/MM/SAA Track & Field Series 6 2012.mdb -d '|'' returned non-zero exit status 127.

In [18]:
# Parse and extract MM RTF files 

import pandas as pd
import re

from striprtf.striprtf import rtf_to_text


with open('/Users/veesheenyuen/Desktop/DataScience/SAA/MM/sg open field day 2 results.rtf', 'r') as file:
    text = file.read()
    con=rtf_to_text(text)

In [29]:
con

'\n\t\n\tEvent 201  Women Triple Jump Open\n==============================================================================\n          CR:   13.90m  8/9/2007    Anastasiya Juravleva, UZB\n          NR:   11.73m  6/12/2009   Mariam Shazana Bte Jalalludin\n         NJR:   11.73m  6/6/2009    Mariam Shazana Bte Jalalludin\n    Name                     Age Team                    Seed     Finals  Wind\n==============================================================================\nFinals\n  1  1016 Binte Mohamad Nafi  23 Club Zoom             11.60m     13.52m   0.6\n  2  1054 Takeda, Sayuri      23 Japan                 12.75m     13.25m   2.0\n  3  1058 Yamane, Mei         24 Japan                 12.89m     12.59m   0.9\n  4  1095 Ng, Yee Lin, Fiona  20 NUS                   10.32m     10.72m   1.5\n  5  1160 Chow, Wan Ki Victo  17 WAC                   10.51m     10.39m   1.7\n  6  1094 Lim, Yan Rui        20 NUS                   10.16m     10.28m  ‑0.4\n ‑‑  1017 Xu, Weixin          27 Club Zoom             11.20m        DNS   NWI\n\n\t\n\tEvent 202  Women High Jump Open\n=========================================================================\n          CR:   1.92m  22/6/1986   Christine Frances Stanton, AUS\n          NR:   1.80m  16/7/2006   Sng Suat Li Michelle\n         NJR:   1.80m  16/7/2006   Sng Suat Li Michelle\n    Name                     Age Team                    Seed     Finals\n=========================================================================\n  1  1161 Goh, Chui Ling      20 WAC                               1.51m\n ‑‑  1096 Toh, Xiao Min       20 NUS                    1.40m         NH\n\n\t\n\tEvent 203  Men Pole Vault Open\n=========================================================================\n          CR:   5.40m  16/8/1992   Toshiyuki Hashioka, JPN\n          NR:   4.81m  25/6/2011   Lim Zi Qing Sean\n         NJR:   4.81m  25/6/2011   Lim Zi Qing Sean\n    Name                     Age Team                    Seed     Finals\n=========================================================================\n  1  1033 Pramendra, Kumar P  19 India                             4.75m\n  2  1097 Chong, Min Xun      24 NUS                    4.20m      4.60m\n  3  1027 Koh, Xu Qing Aaron  17 HCIC                   4.30m      4.20m\n  4  1109 Boey, Desmond Kaij  20 Safsa                             4.00m\n  5  1025 Wong, Xin Zhan Cle  16 HCI                    4.10m      3.60m\n ‑‑  1169 Ang, Kwok Chye Jay  27 WAC                    4.00m         NH\n ‑‑  1179 Law, Chak Hin       22 WAC                    3.60m         NH\n ‑‑  1028 Tan, Yuan Shao Dar  17 HCIC                   4.20m         NH\n ‑‑  1024 Chan, Sheng Yao        HCI                    4.64m         NH\n ‑‑  1026 Yong, Hao Bennett   16 HCI                                 DNS\n\n\t\n\tEvent 204  Men Discus Throw Open\n=========================================================================\n          CR:   57.42m  4/9/1998    Lee Newman, Wales\n          NR:   59.42m  4/9/1999    Wong Tuck Yim James\n         NJR:   49.60m  6/4/2009    Wong Wei Gen Scott\n    Name                     Age Team                    Seed     Finals\n=========================================================================\n  1  1062 Fujiwara, Jun       37 Japan                 50.32m     50.70m\n  2  1143 Ruckpaul, Uli          Tv Alzey Athleti      48.67m     50.22m\n  3  1195 Wong, Scott         22 WAC                   45.90m     48.50m\n  4  1068 Oyama, Hirofumi     24 Japan                 50.57m     48.35m\n  5  1193 Wong, James         43 WAC                   51.32m     46.37m\n\n\n\t....Event 204  Men Discus Throw Open\n  6  1015 Yang, Chun Jui      18 Chinese Taipei                   43.63m\n  7  1189 Su, Landdis         23 WAC                   41.00m     38.36m\n  8  1171 Chow, Wing Hang     24 WAC                   30.00m     28.83m\n  9  1045 Tan, Keng Siong Jo  22 Ite College East      28.85m     26.00m\n\n\t\n\tEvent 211  Men Triple Jump Open\n==============================================================================\n          CR:   16.94m  3/9/2006    Kim Duk‑Hyeon, S.Korea\n          NR:   16.04m  26/4/2009   Tseng Ke Cheng Stefan\n         NJR:   16.04m  26/4/2009   Tseng Ke Cheng Stefan\n    Name                     Age Team                    Seed     Finals  Wind\n==============================================================================\n  1  1064 Hasegawa, Daigo     22 Japan                 16.17m     15.60m  +0.0\n  2  1069 Sato, Kenichi       28 Japan                 15.72m     15.59m  +0.0\n  3  1031 .., Saurabh         26 India                 15.79m     14.39m  +0.0\n  4  1194 Wong, Kin Nang      23 WAC                   14.66m     14.29m   0.4\n ‑‑  1099 Sng, Muhammad Sham  21 NUS                   13.28m        DNS   NWI\n ‑‑  1111 Chang, Cheng Huan   22 Safsa                               DNS   NWI\n ‑‑  1116 See, Zhi Bin        23 Safsa                               DNS   NWI\n\n\t\n\tEvent 212  Men High Jump Open\n=========================================================================\n          CR:   2.30m  8/4/1990    Geoff Parsons, GBR\n          NR:   2.22m  14/12/1995  Wong Yew Tong\n         NJR:   2.08m  26/4/2009   Yap Kuan Yi Wayne\n    Name                     Age Team                    Seed     Finals\n=========================================================================\n  1  1061 Funase, Yuta        23 Japan                  2.11m      2.10m\n  2  1086 Cai, Yao Qing, Ron  28 Nanyang Polytechnic    2.08m      2.00m\n  3  1003 Bin Hj Yahya, Abdu  24 Brunei                           J2.00m\n  4  1178 Lam, Ho Fung        26 WAC                    2.08m     J2.00m\n  5  1023 Chan, Chi Shing        Hong Kong                         1.95m\n  6  1039 Guntur, Ibrahim     17 Indonesia              1.93m     J1.95m\n  7  1181 Lim, Nelson         20 WAC                    1.91m      1.85m\n  8  1112 Khan, Meng Linn     20 Safsa                             1.80m\n  9  1113 Khan, Meng Sunn     22 Safsa                             1.75m\n ‑‑  1116 See, Zhi Bin        23 Safsa                                NH\n ‑‑  1111 Chang, Cheng Huan   22 Safsa                               DNS\n\n\t\n\tEvent 213  Women Discus Throw Open\n=========================================================================\n          CR:   57.82m  1996        Jana Lauren, GER\n          NR:   49.91m  8/12/2003   Zhang Guirong\n         NJR:   47.17m  13/8/2006   Wan Lay Chi\n    Name                     Age Team                    Seed     Finals\n=========================================================================\n  1  1056 Tokai, Marika       24 Japan                 49.22m     47.78m\n  2  1078 Yap, Jeng Tzan      25 Malaysia              46.84m     44.75m\n  3  1005 Chiang, Ru Ching    17 Chinese Taipei        44.89m     42.54m\n  4  1165 Lee, Shih‑Yan Hann  20 WAC                   42.79m     42.36m\n  5  1034 Indah, Prapiwi      17 Indonesia                        35.00m\n\n\n\t\n\tEvent 214  Women Pole Vault Open\n=========================================================================\n          CR:   4.15m  29/11/2009  Roslinda Samsu, MAS\n          NR:   3.81m  29/11/2009  Rachel Isabel Yang Bingjie\n    Name                     Age Team                    Seed     Finals\n=========================================================================\n  1  1083 Chan, Justina       21 Nanyang Polytechnic    3.30m      3.20m\n  2  1159 Choi, Sin Ting      23 WAC                    3.21m      2.80m\n ‑‑  1198 Wong, Cara          17 RIJC                                 NH\n ‑‑  1197 Ong, Pei Gin           Nanyang Polytechnic    2.80m         NH\n'

In [46]:
df=pd.DataFrame(re.split('\n', con))

In [33]:
re.split('\n', con)

['',
 '\t',
 '\tEvent 201  Women Triple Jump Open',
 '==============================================================================',
 '          CR:   13.90m  8/9/2007    Anastasiya Juravleva, UZB',
 '          NR:   11.73m  6/12/2009   Mariam Shazana Bte Jalalludin',
 '         NJR:   11.73m  6/6/2009    Mariam Shazana Bte Jalalludin',
 '    Name                     Age Team                    Seed     Finals  Wind',
 '==============================================================================',
 'Finals',
 '  1  1016 Binte Mohamad Nafi  23 Club Zoom             11.60m     13.52m   0.6',
 '  2  1054 Takeda, Sayuri      23 Japan                 12.75m     13.25m   2.0',
 '  3  1058 Yamane, Mei         24 Japan                 12.89m     12.59m   0.9',
 '  4  1095 Ng, Yee Lin, Fiona  20 NUS                   10.32m     10.72m   1.5',
 '  5  1160 Chow, Wan Ki Victo  17 WAC                   10.51m     10.39m   1.7',
 '  6  1094 Lim, Yan Rui        20 NUS                   10.16m     10.28m  ‑0.4',
 ' ‑‑  1017 Xu, Weixin          27 Club Zoom             11.20m        DNS   NWI',
 '',
 '\t',
 '\tEvent 202  Women High Jump Open',
 '=========================================================================',
 '          CR:   1.92m  22/6/1986   Christine Frances Stanton, AUS',
 '          NR:   1.80m  16/7/2006   Sng Suat Li Michelle',
 '         NJR:   1.80m  16/7/2006   Sng Suat Li Michelle',
 '    Name                     Age Team                    Seed     Finals',
 '=========================================================================',
 '  1  1161 Goh, Chui Ling      20 WAC                               1.51m',
 ' ‑‑  1096 Toh, Xiao Min       20 NUS                    1.40m         NH',
 '',
 '\t',
 '\tEvent 203  Men Pole Vault Open',
 '=========================================================================',
 '          CR:   5.40m  16/8/1992   Toshiyuki Hashioka, JPN',
 '          NR:   4.81m  25/6/2011   Lim Zi Qing Sean',
 '         NJR:   4.81m  25/6/2011   Lim Zi Qing Sean',
 '    Name                     Age Team                    Seed     Finals',
 '=========================================================================',
 '  1  1033 Pramendra, Kumar P  19 India                             4.75m',
 '  2  1097 Chong, Min Xun      24 NUS                    4.20m      4.60m',
 '  3  1027 Koh, Xu Qing Aaron  17 HCIC                   4.30m      4.20m',
 '  4  1109 Boey, Desmond Kaij  20 Safsa                             4.00m',
 '  5  1025 Wong, Xin Zhan Cle  16 HCI                    4.10m      3.60m',
 ' ‑‑  1169 Ang, Kwok Chye Jay  27 WAC                    4.00m         NH',
 ' ‑‑  1179 Law, Chak Hin       22 WAC                    3.60m         NH',
 ' ‑‑  1028 Tan, Yuan Shao Dar  17 HCIC                   4.20m         NH',
 ' ‑‑  1024 Chan, Sheng Yao        HCI                    4.64m         NH',
 ' ‑‑  1026 Yong, Hao Bennett   16 HCI                                 DNS',
 '',
 '\t',
 '\tEvent 204  Men Discus Throw Open',
 '=========================================================================',
 '          CR:   57.42m  4/9/1998    Lee Newman, Wales',
 '          NR:   59.42m  4/9/1999    Wong Tuck Yim James',
 '         NJR:   49.60m  6/4/2009    Wong Wei Gen Scott',
 '    Name                     Age Team                    Seed     Finals',
 '=========================================================================',
 '  1  1062 Fujiwara, Jun       37 Japan                 50.32m     50.70m',
 '  2  1143 Ruckpaul, Uli          Tv Alzey Athleti      48.67m     50.22m',
 '  3  1195 Wong, Scott         22 WAC                   45.90m     48.50m',
 '  4  1068 Oyama, Hirofumi     24 Japan                 50.57m     48.35m',
 '  5  1193 Wong, James         43 WAC                   51.32m     46.37m',
 '',
 '',
 '\t....Event 204  Men Discus Throw Open',
 '  6  1015 Yang, Chun Jui      18 Chinese Taipei                   43.63m',
 '  7  1189 Su, Landdis         23 WAC                   41.00m     38.36m',
 '  8  1171 Chow, Wing Hang     24 WAC                   30.00m     28.83m',
 '  9  1045 Tan, Keng Siong Jo  22 Ite College East      28.85m     26.00m',
 '',
 '\t',
 '\tEvent 211  Men Triple Jump Open',
 '==============================================================================',
 '          CR:   16.94m  3/9/2006    Kim Duk‑Hyeon, S.Korea',
 '          NR:   16.04m  26/4/2009   Tseng Ke Cheng Stefan',
 '         NJR:   16.04m  26/4/2009   Tseng Ke Cheng Stefan',
 '    Name                     Age Team                    Seed     Finals  Wind',
 '==============================================================================',
 '  1  1064 Hasegawa, Daigo     22 Japan                 16.17m     15.60m  +0.0',
 '  2  1069 Sato, Kenichi       28 Japan                 15.72m     15.59m  +0.0',
 '  3  1031 .., Saurabh         26 India                 15.79m     14.39m  +0.0',
 '  4  1194 Wong, Kin Nang      23 WAC                   14.66m     14.29m   0.4',
 ' ‑‑  1099 Sng, Muhammad Sham  21 NUS                   13.28m        DNS   NWI',
 ' ‑‑  1111 Chang, Cheng Huan   22 Safsa                               DNS   NWI',
 ' ‑‑  1116 See, Zhi Bin        23 Safsa                               DNS   NWI',
 '',
 '\t',
 '\tEvent 212  Men High Jump Open',
 '=========================================================================',
 '          CR:   2.30m  8/4/1990    Geoff Parsons, GBR',
 '          NR:   2.22m  14/12/1995  Wong Yew Tong',
 '         NJR:   2.08m  26/4/2009   Yap Kuan Yi Wayne',
 '    Name                     Age Team                    Seed     Finals',
 '=========================================================================',
 '  1  1061 Funase, Yuta        23 Japan                  2.11m      2.10m',
 '  2  1086 Cai, Yao Qing, Ron  28 Nanyang Polytechnic    2.08m      2.00m',
 '  3  1003 Bin Hj Yahya, Abdu  24 Brunei                           J2.00m',
 '  4  1178 Lam, Ho Fung        26 WAC                    2.08m     J2.00m',
 '  5  1023 Chan, Chi Shing        Hong Kong                         1.95m',
 '  6  1039 Guntur, Ibrahim     17 Indonesia              1.93m     J1.95m',
 '  7  1181 Lim, Nelson         20 WAC                    1.91m      1.85m',
 '  8  1112 Khan, Meng Linn     20 Safsa                             1.80m',
 '  9  1113 Khan, Meng Sunn     22 Safsa                             1.75m',
 ' ‑‑  1116 See, Zhi Bin        23 Safsa                                NH',
 ' ‑‑  1111 Chang, Cheng Huan   22 Safsa                               DNS',
 '',
 '\t',
 '\tEvent 213  Women Discus Throw Open',
 '=========================================================================',
 '          CR:   57.82m  1996        Jana Lauren, GER',
 '          NR:   49.91m  8/12/2003   Zhang Guirong',
 '         NJR:   47.17m  13/8/2006   Wan Lay Chi',
 '    Name                     Age Team                    Seed     Finals',
 '=========================================================================',
 '  1  1056 Tokai, Marika       24 Japan                 49.22m     47.78m',
 '  2  1078 Yap, Jeng Tzan      25 Malaysia              46.84m     44.75m',
 '  3  1005 Chiang, Ru Ching    17 Chinese Taipei        44.89m     42.54m',
 '  4  1165 Lee, Shih‑Yan Hann  20 WAC                   42.79m     42.36m',
 '  5  1034 Indah, Prapiwi      17 Indonesia                        35.00m',
 '',
 '',
 '\t',
 '\tEvent 214  Women Pole Vault Open',
 '=========================================================================',
 '          CR:   4.15m  29/11/2009  Roslinda Samsu, MAS',
 '          NR:   3.81m  29/11/2009  Rachel Isabel Yang Bingjie',
 '    Name                     Age Team                    Seed     Finals',
 '=========================================================================',
 '  1  1083 Chan, Justina       21 Nanyang Polytechnic    3.30m      3.20m',
 '  2  1159 Choi, Sin Ting      23 WAC                    3.21m      2.80m',
 ' ‑‑  1198 Wong, Cara          17 RIJC                                 NH',
 ' ‑‑  1197 Ong, Pei Gin           Nanyang Polytechnic    2.80m         NH',
 '']

In [48]:
df.iloc[10][0]

'  1  1016 Binte Mohamad Nafi  23 Club Zoom             11.60m     13.52m   0.6'

In [40]:
df.iloc[11][0]

'  1  1061 Funase, Yuta        23 Japan                  2.11m      2.10m'

In [39]:
df.iloc[12][0]

'  2  1086 Cai, Yao Qing, Ron  28 Nanyang Polytechnic    2.08m      2.00m'

In [168]:
string=df.iloc[10][0]

In [169]:
print(string[:9])

  1  1016

In [171]:
print(string[2:4])

1

In [172]:
print(string[5:9])

1016

In [58]:
print(string[10:29])

Binte Mohamad Nafi

In [59]:
print(string[30:])

23 Club Zoom             11.60m     13.52m   0.6

In [205]:
event_pattern='Men|Women'
#result_pattern='(.\d\dm)'
#result_pattern='(\d\d\d\d\s[A-Z][a-z]+)'
result_pattern='(\d\d\d\d\s[A-Z].+(.\d\dm))'
exclusion_pattern='(NH|DNS)'

In [207]:
#s='  1  1056 Tokai, Marika       24 Japan                 49.22m     47.78m'
#s='  6  1039 Guntur, Ibrahim     17 Indonesia              1.93m     J1.95m'
s=' ‑‑  1111 Chang, Cheng Huan   22 Safsa                               DNS'


match = re.search(exclusion_pattern, s)

print(match)

<re.Match object; span=(69, 72), match='DNS'>

In [206]:
for index, row in df.iterrows(): # find row containing event details and column names
                           
        
        if 'Event' in row[0]:
            
            row=row[0]
                                    
            position = re.search(event_pattern, row)
                                                
            split_end=position.end()      # adjust the splicing position to only capture the event name

            event=row[split_end:]
                                                
            
            if 'Men' in row:
                gender='Male'
                
            if 'Women' in row:
                gender='Female'    
                   
            if 'Finals' in event:
                round='Finals'
            
            region='Local' 
            
            
        if re.search(result_pattern, row[0]):  # if row matches pattern with results
            
            string=row[0]
            
            rank=string[2:4]  # slice string to extract ranking
            
            ID=string[5:9]
            
            name=string[10:29]
            
            age = string[30:32]
                        
            team = string[33:55]
            
            remainder=string[56:].strip()
                        
            remainder=re.sub("\s+", " ", remainder) # remove extraneous spaces from string
                  
            if not re.search(exclusion_pattern, remainder):   # drop those with NH, DNS or NWI
   
                list=remainder.split(' ')   # convert string to list   
            
                combined=rank+ ';'+ID+'; '+ name +'; ' + event +'; '+age+'; '+gender+'; '+'; '.join(list)  # use ';' in case names have a ','
                print(combined)
#        row=combined.split(';')

1 ;1016; Binte Mohamad Nafi ;  Triple Jump Open; 23; Female; 1.60m; 13.52m; 0.6
2 ;1054; Takeda, Sayuri     ;  Triple Jump Open; 23; Female; 2.75m; 13.25m; 2.0
3 ;1058; Yamane, Mei        ;  Triple Jump Open; 24; Female; 2.89m; 12.59m; 0.9
4 ;1095; Ng, Yee Lin, Fiona ;  Triple Jump Open; 20; Female; 0.32m; 10.72m; 1.5
5 ;1160; Chow, Wan Ki Victo ;  Triple Jump Open; 17; Female; 0.51m; 10.39m; 1.7
6 ;1094; Lim, Yan Rui       ;  Triple Jump Open; 20; Female; 0.16m; 10.28m; ‑0.4
1 ;1161; Goh, Chui Ling     ;  High Jump Open; 20; Female; 1.51m
1 ;1033; Pramendra, Kumar P ;  Pole Vault Open; 19; Male; 4.75m
2 ;1097; Chong, Min Xun     ;  Pole Vault Open; 24; Male; 4.20m; 4.60m
3 ;1027; Koh, Xu Qing Aaron ;  Pole Vault Open; 17; Male; 4.30m; 4.20m
4 ;1109; Boey, Desmond Kaij ;  Pole Vault Open; 20; Male; 4.00m
5 ;1025; Wong, Xin Zhan Cle ;  Pole Vault Open; 16; Male; 4.10m; 3.60m
1 ;1062; Fujiwara, Jun      ;  Discus Throw Open; 37; Male; 0.32m; 50.70m
2 ;1143; Ruckpaul, Uli      ;  Discus Throw Open;   ; Male; 8.67m; 50.22m
3 ;1195; Wong, Scott        ;  Discus Throw Open; 22; Male; 5.90m; 48.50m
4 ;1068; Oyama, Hirofumi    ;  Discus Throw Open; 24; Male; 0.57m; 48.35m
5 ;1193; Wong, James        ;  Discus Throw Open; 43; Male; 1.32m; 46.37m
6 ;1015; Yang, Chun Jui     ;  Discus Throw Open; 18; Male; 43.63m
7 ;1189; Su, Landdis        ;  Discus Throw Open; 23; Male; 1.00m; 38.36m
8 ;1171; Chow, Wing Hang    ;  Discus Throw Open; 24; Male; 0.00m; 28.83m
9 ;1045; Tan, Keng Siong Jo ;  Discus Throw Open; 22; Male; 8.85m; 26.00m
1 ;1064; Hasegawa, Daigo    ;  Triple Jump Open; 22; Male; 6.17m; 15.60m; +0.0
2 ;1069; Sato, Kenichi      ;  Triple Jump Open; 28; Male; 5.72m; 15.59m; +0.0
4 ;1194; Wong, Kin Nang     ;  Triple Jump Open; 23; Male; 4.66m; 14.29m; 0.4
1 ;1061; Funase, Yuta       ;  High Jump Open; 23; Male; 2.11m; 2.10m
2 ;1086; Cai, Yao Qing, Ron ;  High Jump Open; 28; Male; 2.08m; 2.00m
3 ;1003; Bin Hj Yahya, Abdu ;  High Jump Open; 24; Male; J2.00m
4 ;1178; Lam, Ho Fung       ;  High Jump Open; 26; Male; 2.08m; J2.00m
5 ;1023; Chan, Chi Shing    ;  High Jump Open;   ; Male; 1.95m
6 ;1039; Guntur, Ibrahim    ;  High Jump Open; 17; Male; 1.93m; J1.95m
7 ;1181; Lim, Nelson        ;  High Jump Open; 20; Male; 1.91m; 1.85m
8 ;1112; Khan, Meng Linn    ;  High Jump Open; 20; Male; 1.80m
9 ;1113; Khan, Meng Sunn    ;  High Jump Open; 22; Male; 1.75m
1 ;1056; Tokai, Marika      ;  Discus Throw Open; 24; Female; 9.22m; 47.78m
2 ;1078; Yap, Jeng Tzan     ;  Discus Throw Open; 25; Female; 6.84m; 44.75m
3 ;1005; Chiang, Ru Ching   ;  Discus Throw Open; 17; Female; 4.89m; 42.54m
4 ;1165; Lee, Shih‑Yan Hann ;  Discus Throw Open; 20; Female; 2.79m; 42.36m
5 ;1034; Indah, Prapiwi     ;  Discus Throw Open; 17; Female; 35.00m
1 ;1083; Chan, Justina      ;  Pole Vault Open; 21; Female; 3.30m; 3.20m
2 ;1159; Choi, Sin Ting     ;  Pole Vault Open; 23; Female; 3.21m; 2.80m

In [175]:
combined

'2 ;1159; Choi, Sin Ting     ; ;  Pole Vault Open; ; 233.21m; 2.80m'